# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules
/storage

/client/dist/index_bundle.js
log/*
/dist
.idea/
.idea/codeStyles/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/misc.xml
.idea/modules.xml
.idea/node.iml
.idea/shelf/
.idea/workspace.xml
/*.iml
